.movieContainer{
    display: inline-block;
  }
  
  .movieCard {
    // width: 200;
    margin-top: 20px;
  }
  
  .cardImage {
    width: 100%!important;
    height: 100%!important;
    object-fit: cover;
  }