.moviesContainer {
    width: 100%;
    height: 100vh;
  }
  
  .movie-view {
    margin-top: 50px;
    color: rgb(0, 0, 0);
  }
  
  .movie-poster {
    text-align: center;
    // width: 200px;
  }
  .label  {
    color: black;
    font-size: 20px;
    font-weight: 400;
  }
  
  .movie-button-div{
    text-align: center;
    margin: 0 auto;
    width: 200px;
  }
  .movie-button {
    margin-top: 20px;
    width: 100%;
    background-color: black;
  }

  .poster{
    width: 300px!important;
  }